<h1 class="border-bottom p-2 mb-3">Add New Post</h1>

<div class="row">
  <div class="col-md-6">
    <form #addPostForm="ngForm">
      <div class="form-group">
        <label>Id Post</label>
        <input #Id="ngModel" class="form-control" name="Id" [(ngModel)]="post.id" type="number" required minlength="1"
          [ngClass]="{'is-invalid': addPostForm.submitted && Id.invalid }" />
      </div>
      <div class="invalid-feedback">
        <div *ngIf="Id.hasError('required')">Required field</div>
        <div *ngIf="Id.hasError('minlength')">Valores mayor a 0</div>
      </div>
      <div class="form-group">
        <label>Title</label>
        <input #title="ngModel" [(ngModel)]="post.title" class="form-control" type="text" required maxlength="100"
          name="title" [ngClass]="{'is-invalid': addPostForm.submitted && title.invalid }" />
      </div>
      <div class="invalid-feedback">
        <div *ngIf="title.hasError('required')">Required field</div>
        <div *ngIf="title.hasError('maxlength')">Length 100</div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea #description="ngModel" name="description" class="form-control" type="text" required maxlength="5000"
          [ngClass]="{'is-invalid': addPostForm.submitted && description.invalid }"
          [(ngModel)]="post.description"></textarea>
      </div>
      <div class="invalid-feedback">
        <div *ngIf="description.hasError('required')">Required field</div>
        <div *ngIf="description.hasError('maxlength')">Length 5000</div>
      </div>
      <div class="form-group">
        <label>Image</label>
        <input #image="ngModel" class="form-control" type="text" required maxlength="200" name="image"
          [ngClass]="{'is-invalid': addPostForm.submitted && image.invalid }" [(ngModel)]="post.image" />
      </div>
      <div class="invalid-feedback">
        <div *ngIf="image.hasError('required')">Required field</div>
        <div *ngIf="image.hasError('maxlength')">Length 200</div>
      </div>
      <div class="form-group">
        <label>Created At</label>
        <input #createdAt="ngModel" class="form-control" type="date" required name="createdAt"
          [ngClass]="{'is-invalid': addPostForm.submitted && createdAt.invalid }" [(ngModel)]="post.createdAt" />
      </div>
      <div class="invalid-feedback">
        <div *ngIf="createdAt.hasError('required')">Required field</div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit"
          (click)="savePost(addPostForm)">Save</button>
        <button class="btn btn-dark m-2" type="button" (click)="back()">Cancel</button>
      </div>
    </form>
  </div>
</div>
