<h1 class="border-bottom p-2 mb-3">Edit New Post</h1>

<div class="row">
  <div class="col-md-6">
    <form #editPostForm="ngForm" name="editPostForm">
      <div class="form-group">
        <label>Id Post</label>
        <input class="form-control" name="id" [(ngModel)]="postInput.id" type="number" disabled="disabled" />
      </div>
      <div class="form-group">
        <label >Title</label>
        <input #title="ngModel" [(ngModel)]="postInput.title" class="form-control" type="text" required maxlength="100"
          name="title" [ngClass]="{'is-invalid': editPostForm.submitted && title.invalid }" />
      </div>
      <div class="invalid-feedback">
        <div *ngIf="title.hasError('required')">Required field</div>
        <div *ngIf="title.hasError('maxlength')">Length 100</div>
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea #description="ngModel" name="description" class="form-control" type="text" required maxlength="5000"
          [ngClass]="{'is-invalid': editPostForm.submitted && description.invalid }"
          [(ngModel)]="postInput.description"></textarea>
      </div>
      <div class="invalid-feedback">
        <div *ngIf="description.hasError('required')">Required field</div>
        <div *ngIf="description.hasError('maxlength')">Length 5000</div>
      </div>
      <div class="form-group">
        <label>Image</label>
        <input #image="ngModel" class="form-control" type="text" required maxlength="200" name="image"
          [ngClass]="{'is-invalid': editPostForm.submitted && image.invalid }" [(ngModel)]="postInput.image" />
      </div>
      <div class="invalid-feedback">
        <div *ngIf="image.hasError('required')">Required field</div>
        <div *ngIf="image.hasError('maxlength')">Length 200</div>
      </div>
      <div class="form-group">
        <label>Created At</label>
        <input #createdAt="ngModel" class="form-control" type="date" required name="createdAt"
          [ngClass]="{'is-invalid': editPostForm.submitted && createdAt.invalid }" [(ngModel)]="postInput.createdAt" />
      </div>
      <div class="invalid-feedback">
        <div *ngIf="createdAt.hasError('required')">Required field</div>
      </div>
      <div class="form-group">
          <button class="btn btn-primary" type="submit" [disabled]="!editPostForm.valid"
            (click)="updatePost(editPostForm)">Update</button>
            <button class="btn btn-dark m-2" type="button" (click)="back()">Cancel</button>
        </div>
    </form>
  </div>
</div>

