<h1 class="border-bottom p-2 mb-2">Add Photo</h1>

<div class="row">
  <div class="col-md-6">
    <form #photosAddForm="ngForm" (submit)="savePhoto()">
      <div class="form-group">
        <label>Title</label>
        <input #title="ngModel" class="form-control" name="title" [(ngModel)] = "photo.title" required/>
      </div>
      <div class="form-group">
        <label>Album Id</label>
        <input #albumId="ngModel" class="form-control" name="albumId" [(ngModel)] = "photo.albumId" required/>
      </div>
      <div class="form-group">
        <label>Url</label>
        <input #url="ngModel" class="form-control" name="url" [(ngModel)] = "photo.url" required/>
      </div>
      <div class="form-group">
        <label>Thumbnail</label>
        <input #thumbnailUrl="ngModel" class="form-control" name="thumbnailUrl" [(ngModel)] = "photo.thumbnailUrl" required/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-primary mr-2">Back</button>
      </div>
    </form>
  </div>
</div>
