<app-topbar [(section)]="pageSection"></app-topbar>
<!-- Main Container -->
<div class="container">
  <app-home *ngIf="pageSection == 'home'"></app-home>
  <app-post-list *ngIf="pageSection == 'posts'" ></app-post-list>
  <app-users-list *ngIf="pageSection == 'users'"></app-users-list>
  <app-post-add *ngIf="pageSection == 'addpost'"></app-post-add>
  <app-post-edit *ngIf="pageSection == 'editpost'"></app-post-edit>
  <app-users-add *ngIf="pageSection == 'adduser'"></app-users-add>
  <app-users-edit *ngIf="pageSection == 'edituser'"></app-users-edit>
  <app-album-list *ngIf="pageSection == 'albums'"></app-album-list>
</div>
